body {
  background-image: url('/images/background-img.png');
  background-size: cover;
}
header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  
  background-image: url("/images/banner.jpeg");
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container {
  padding-top: 40px;
}
/* write your parent styles in here for your App.js */
